<!DOCTYPE html>
{% load static %}
 {% include "main.html" %}
      <div class="two">
        <div class="register">
          <h3>login</h3>
          <form id="reg-form1">
            <div>
              <label for="username1">Username</label>
              <input type="text" id="username1" spellcheck="false" placeholder="" />
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" id="password" />
            </div>

            <div>
              <label></label>
              <input type="submit"/>
            </div>
          </form>

          </div>
        </div>

