<!DOCTYPE html>
{% load static %}
{% include "main.html" %}
      <div class="two">
        <div class="register">
          <h3>REGISTER</h3>
          <form id="reg-form1">
            <div>
              <label for="name1">Name</label>
              <input type="text" id="name1" spellcheck="false" placeholder=""/>
            </div>
            <div>
              <label for="email">Email</label>
              <input type="text" id="email" spellcheck="false" placeholder=""/>
            </div>
            <div>
              <label for="username1">Username</label>
              <input type="text" id="username1" spellcheck="false" placeholder="" />
            </div>
            <div>
              <label for="password1">Password</label>
              <input type="password" id="password1" />
            </div>
            <div>
              <label for="password-again1">Password Again</label>
              <input type="password" id="password-again1" />
            </div>
            <div>
              <label></label>
              <input type="submit"/>
            </div>
           <li class="nav-item">
	        <a class="nav-link" href="/">Link</a>
	      </li>
          </form>
          </div>
        </div>
      </div>
    </div>